<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeatWeatherCompose">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.WidgetConfigActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LocationService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".widget.SmallWeatherAppWidgetProvider"
            android:exported="false"
            android:label="@string/small_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_appwidget_info" />
        </receiver>

        <receiver
            android:name=".widget.MediumWeatherAppWidgetProvider"
            android:exported="false"
            android:label="@string/medium_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/medium_appwidget_info" />
        </receiver>

        <!-- Disable the InitProvider of the HERE SDK to prevent auto-initialization
             until the InitProvider is removed with release 4.15.0. -->
        <provider
            android:name="com.here.sdk.engine.InitProvider"
            android:authorities="com.here.sdk.engine.InitProvider"
            android:exported="false"
            tools:node="remove" />
    </application>
</manifest>